.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.input-group label {
  margin-bottom: 0.5em;
  color: #333;
  font-size: 1.2em;
}

.product-form__input {
  height: 40px;
  padding: 0 10px;
  font-size: 1em;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}
